
@font-face {
  font-family: 'Halvetica';
  src: url("./common/fonts/HelveticaNeue-Bold.ttf") format('ttf'),
       url("./common/fonts/HelveticaNeue-Light.ttf") format('ttf'),
       url("./common/fonts/HelveticaNeue-Medium.ttf") format('ttf');
}
body {
  margin: 0;
  font-family: 'Helvetica',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
